SAC/.vs/*
*.vs/
SAC/SAC/obj/*
SAC/Negocio/obj/*
SAC/Datos/obj/*
SAC/Entidad/obj/*


SAC/Negocio/bin/*
SAC/Datos/bin/*
SAC/Entidad/bin/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates