<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Afip_Facturacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <userSettings>
      <PrototipoAfip.My.MySettings>
        <setting name="def_cert" serializeAs="String">
          <value>c:\*.pfx</value>
        </setting>
        <setting name="def_pass" serializeAs="String">
          <value />
        </setting>
        <setting name="def_url" serializeAs="String">
          <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms?WSDL</value>
        </setting>
        <setting name="def_serv" serializeAs="String">
          <value>wsfe</value>
        </setting>
        <setting name="def_cuit" serializeAs="String">
          <value>20305789489</value>
        </setting>
      </PrototipoAfip.My.MySettings>
    </userSettings>
  
  
  
    <applicationSettings>
        <Afip_Facturacion.Properties.Settings>
            <setting name="Afip_Facturacion_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="Afip_Facturacion_WSFEHOMO_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="Afip_Facturacion_wsaa_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="Afip_Facturacion_wspsa4_PersonaServiceA4" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA4</value>
            </setting>
        </Afip_Facturacion.Properties.Settings>
    </applicationSettings>
</configuration>