<connectionStrings>
  
	<!-- conexion esteban 
 <add name="SAC_Entities" connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SORAIRE;initial catalog=SAC;persist security info=True;user id=sa;password=AvAA.1480;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 -->
      <add name="SAC_Entities" 
         connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.112.114;initial catalog=SAC;persist security info=True;user id=sa;password=AvAA.1480;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
</connectionStrings>
